        *{
            margin: 0;
            padding: 0;
        }
        table{
            border: 2px solid black;
            width: 500px;
            height: 500px;
            margin: auto;
            
        }
        .black{
            background-color: black;
            height: 50px;
            width: 50px;
        }
        .white{
            color: white;
            width: 50px;
        }
       .tr, td{
        class="black"
        class="white"
       }